body {
    margin: 0;
    padding: 0;
    background-color: #f5f5dc;
    color: #333;
}
.tamaño {
    width: 120px; 
    height: auto; 
}
header {
    background-color: #ff6f61;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
nav{
    position:fixed;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 1000;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
    background-color: #f5f5dc;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 20px ;
}
a:hover{
    background-color: #ff6f61;
}
section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        text-align: center;
        margin-bottom: 5px;
    }

    header, section, footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}